  

<app-header> </app-header>

<app-maincontent></app-maincontent>
 
<!-- 
<app-databinding> </app-databinding>
 <app-event-binding></app-event-binding>
 <app-template-referance-binding></app-template-referance-binding> 
 <app-twowaybinding></app-twowaybinding>
 <app-structural-directives></app-structural-directives>-->
 <!-- <app-pipes></app-pipes> -->
  
 <!-- <app-structural-directives></app-structural-directives> -->
 <!-- <app-product></app-product> -->
 <!-- <app-emplist></app-emplist>
 <app-empdetails></app-empdetails> -->
 <router-outlet></router-outlet>
 <app-footer></app-footer>
